# Ignore the raw downloads and processed parquet files
data/raw/
data/processed/
data/audit/
# Ignore geospatial binaries
data/shapefiles/

# Ignore all parquet files anywhere in the project (Safety Net)
*.parquet
*.zip
*.gz